# Node.js dependencies and environment files
Todo-List-nodejs/node_modules/
Todo-List-nodejs/.env

# Terraform files
infra_terraform_code/.terraform/
infra_terraform_code/*.tfstate
infra_terraform_code/*.tfstate.backup
infra_terraform_code/.terraform.lock.hcl
infra_terraform_code/*.pem
infra_terraform_code/terraform.tfvars

# Global Terraform ignores
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
